<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>CellType</key>
			<string>SliderCellIdentifier</string>
			<key>Caption</key>
			<string>G-Force Value</string>
			<key>Exponential</key>
			<true/>
			<key>SliderMin</key>
			<real>0.1</real>
			<key>SliderMax</key>
			<real>1.8</real>
			<key>SliderValue</key>
			<real>0.67</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellType</key>
			<string>SliderCellIdentifier</string>
			<key>Caption</key>
			<string>Message Delay (Minutes)</string>
			<key>Exponential</key>
			<true/>
			<key>SliderMin</key>
			<real>0.1</real>
			<key>SliderMax</key>
			<real>4.5</real>
			<key>SliderValue</key>
			<real>0.965</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellType</key>
			<string>SliderCellIdentifier</string>
			<key>Caption</key>
			<string>Min Interval (Minutes)</string>
			<key>Exponential</key>
			<false/>
			<key>SliderMin</key>
			<integer>1</integer>
			<key>SliderMax</key>
			<integer>90</integer>
			<key>SliderValue</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SliderCellIdentifier</string>
			<key>Caption</key>
			<string>Max Interval (Minutes)</string>
			<key>Exponential</key>
			<false/>
			<key>SliderMin</key>
			<integer>2</integer>
			<key>SliderMax</key>
			<integer>180</integer>
			<key>SliderValue</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SliderCellIdentifier</string>
			<key>Caption</key>
			<string>Total Duration (Hours)</string>
			<key>Exponential</key>
			<false/>
			<key>SliderMin</key>
			<real>0.25</real>
			<key>SliderMax</key>
			<integer>10</integer>
			<key>SliderValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Alien</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Creaking Door</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Footsteps</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Ghost</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Goblin</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Grim Reaper</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Insectoid</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Door Banging</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Leprechaun</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Minotaur</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Monster</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Sasquatch</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>SwitchCellIdentifier</string>
			<key>Caption</key>
			<string>Wolfman</string>
			<key>Value</key>
			<true/>
			<key>HasDetail</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Scream (Female)</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Scream (Male)</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Electric Shock</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Evil Goblin</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Exorcist</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Bloody Face</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Demon of the Void</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Jack-o&apos;-Lantern</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Cut-up Girl</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Hooded Demon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Evil Clown</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Skull</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Funny Child</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>MP3 Player</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>CellType</key>
			<string>PreviewButtonCellIdentifier</string>
			<key>Caption</key>
			<string>Phone</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
